/* Page footer */
footer {
    padding: 1.4%;
    background-color: $background-color;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.social {
    text-align: right;
    padding-right: 2vw;
}

.social a {
    text-decoration: none;
}
