/* Stylesheet for my portfolio */
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';

@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'mobile-menu';
@import 'header';
@import 'footer';
@import 'main';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    background-color: $background-alternative-color;
}

* {
    color: $font-color;
    font-family: 'Roboto', sans-serif;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}
