/** Typography for portfolio */



/* Document */
* {
    color: $font-color;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 100%;
}

body {
    line-height: $base-line-height;
}

/* Main element */
main {
    max-width: 70rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

/* Paragraphs */
p {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
    letter-spacing: 0.7px;
}

/* Lists */
main {
    ul {
        font-size: $base-font-size;
        margin-bottom: $magic-number;
    }

    li {
        margin-bottom: $magic-number - 1;
    }
}

/* Blockquote */
blockquote {
    font-style: italic;
    margin-bottom: $magic-number;
}

/* Code */
code {
    font-family: monospace;
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin-bottom: $magic-number;
}

pre code {
    line-height: $base-line-height;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

/* Footer */
.social a {
    font-size: 1.7em;
}

/* Responsiveness */
@media (min-width: 64em) {
    html {
        font-size: 112,5%;
    }
}
